<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.detai">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="vn.com.detai.todolist.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.com.detai.todolist.activity.AddTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name="vn.com.detai.todolist.alarm.AlarmReceiver"
            android:process=":remote" />
        <receiver android:name="vn.com.detai.todolist.alarm.AlarmSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="vn.com.detai.todolist.activity.EditTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="vn.com.detai.todolist.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PreferenceScreen" />
        <activity
            android:name="vn.com.detai.todolist.settings.LicensesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PreferenceScreen" />

        <service
            android:name="vn.com.detai.todolist.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name="vn.com.detai.todolist.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" />
        </receiver>
    </application>

</manifest>